{% extends 'base.html' %}

{% block title%} 
Home
{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

<div class="row position-relative overflow-hidden p-3 p-md-5 m-md-2 text-center bg-light">
{% load static %}
    <div class="col p-lg-4 mx-2" align="left">
      <h1 class="display-4 fw-normal" ><b>Let's Start Cooking Some Popular Recipes</b></h1>
      <p class="lead fw-normal">Want to learn cooking but are confused, where to start?</p>
      <p class="lead fw-normal">No need to worry!</p>
      <a class="btn btn-success" href="#">Get Started</a>
      <a class="btn btn-outline-success" href="#">Explore Menu</a>
    </div>
    <div class="col p-lg-4 mx-2">
      <img src="{% static 'img/food-home.png' %}" height="294px" width="fitcontent" class="d-block w-100" alt="...">
    </div>
  </div>

  <div class="container py-4 px-0">
    <h2 style="color:black;">Most Recent</h2>
  </div>

 <div class="row mb-2 py-2 container-fluid">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">25 Summer Slow Cooker Recipes That'll Keep Your Kitchen Cool</h3>
          <p class="card-text mb-auto">Your handy countertop appliance can do so much more than winter soups and stews.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block center">
          <img src="{% static 'img/pesto.jpg' %}" height="200px" width="fitcontent" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Tasty and Cheap Chicken Recipes for Every Day This Month</h3>
          <p class="card-text mb-auto">These inexpensive but flavor-packed dinners are going to be a hit with the entire family.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
           <img src="{% static 'img/macncheese.jpg' %}" height="200px" width="fitcontent" class="d-block w-100" alt="...">
        </div>
      </div> 
    </div>
  </div>

  <div class="row mb-2 py-2 container-fluid">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">26 Fresh No-Cook Meals (and Desserts!) to Make on Repeat This Summer</h3>
          <p class="mb-auto">Skipping the oven is easy with these tasty recipes.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
           <img src="{% static 'img/wraps.jpg' %}" height="200px" width="fitcontent" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Common Ingredient Substitutions</h3>
          <p class="mb-auto">Out of baking powder (or baking soda)? Make your own with our ingredient substitutions guide.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
           <img src="{% static 'img/subs.jpg' %}" height="200px" width="fitcontent" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="border-top">
  </div>
{% endblock body %}