{% extends 'base.html' %}

{% block title%} 
Home
{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    {% load static %}
    <div class="carousel-item active">
      <img src="{% static 'img/car-1.jpg' %}" height="500px" width="fitcontent" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Recipe King</h5>
        <p>Get access to some of the most delicous recipes with a click of a button.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/car-2.jpg' %}" height="500px" width="fitcontent" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Gordon Ramsey's Loves the site</h5>
        <p>Gordon Ramsey uses our site to look up recipes for his customers.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/car-3.jpg' %}" height="500px" width="fitcontent" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Everything is free to access.</h5>
        <p>You can setup an account for free and can save all your favorites recipes.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
</div>

  
{% endblock body %}